@using MudBlazor

<MudGrid Style="display: flex; align-items:stretch">
	<MudItem xs="12" sm="6" md="4" lg="4" xl="2">

		<MudPaper Elevation="1" Class="pa-4">
			<div style="display: flex; align-items: center; gap:4px">
				<MudAvatar Style="background-color:whitesmoke;">
					<MudIcon Icon="@Icons.Material.Rounded.TrendingUp" Color="Color.Primary" />
				</MudAvatar>
				<div style="align-items: center; gap:4px" class="ms-lg-4">
					<MudText Typo="Typo.body2" Style="color:lightgray">Valor Total Em Aberto</MudText>
					<MudText Typo="Typo.h6" Style="font-weight: bold" Color="Color.Primary">R$ 120.234,00</MudText>
				</div>
			</div>
		</MudPaper>

	</MudItem>
	<MudItem xs="12" sm= "6" md="4" lg="4" xl="2">
		<MudPaper Elevation="1" Class="pa-4" Style="height: 100%;">
			<div style="display: flex; align-items: center; gap:4px">
				<MudAvatar Style="background-color:whitesmoke;">
					<MudIcon Icon="@Icons.Material.Rounded.ReceiptLong" Color="Color.Primary" />
				</MudAvatar>
				<div style="align-items: center; gap:4px" class="ms-lg-4">
					<MudText Typo="Typo.body2" Style="color:lightgray">Pedidos Em Aberto</MudText>
					<MudText Typo="Typo.h6" Style="font-weight: bold" Color="Color.Primary">25</MudText>
				</div>
			</div>
		</MudPaper>
	</MudItem>
	<MudItem xs="12" sm= "6" md="4" lg="4" xl="2">
		<MudPaper Elevation="1" Class="pa-4" Style="height: 100%;">
			<div style="display: flex; align-items: center; gap:4px">
				<MudAvatar Style="background-color:whitesmoke">
					<MudIcon Icon="@Icons.Material.Rounded.AttachMoney" Color="Color.Primary" />
				</MudAvatar>
				<div style="align-items: center; gap:4px" class="ms-lg-4">
					<MudText Typo="Typo.body2" Style="color:lightgray">Comissão</MudText>
					<MudText Typo="Typo.h6" Style="font-weight: bold" Color="Color.Primary">R$ 12.432,00</MudText>
				</div>
			</div>
		</MudPaper>
	</MudItem>
	<MudItem xs="12" sm= "6" md="4" lg="4" xl="2">
		<MudPaper Elevation="1" Class="pa-4" Style="height: 100%;">
			<div style="display: flex; align-items: center; gap:4px">
				<MudAvatar Style="background-color:whitesmoke;">
					<MudIcon Icon="@Icons.Material.Rounded.Sell" Color="Color.Primary" />
				</MudAvatar>
				<div style="align-items: center; gap:4px" class="ms-lg-4">
					<MudText Typo="Typo.body2" Style="color:lightgray">Valor Total IPI</MudText>
					<MudText Typo="Typo.h6" Style="font-weight: bold" Color="Color.Primary">R$ 6.787,00</MudText>
				</div>
			</div>
		</MudPaper>
	</MudItem>
	<MudItem xs="12" sm= "6" md="4" lg="4" xl="2">
		<MudPaper Elevation="1" Class="pa-4" Style="height: 100%;">
			<div style="display: flex; align-items: center; gap:4px">
				<MudAvatar Style="background-color:whitesmoke;">
					<MudIcon Icon="@Icons.Material.Rounded.ShoppingCart" Color="Color.Primary" />
				</MudAvatar>
				<div style="align-items: center; gap:4px" class="ms-lg-4">
					<MudText Typo="Typo.body2" Style="color:lightgray">Valor Total ICMS</MudText>
					<MudText Typo="Typo.h6" Style="font-weight: bold" Color="Color.Primary">R$ 8.123,00</MudText>
				</div>
			</div>
		</MudPaper>
	</MudItem>
	<MudItem xs="12" sm= "6" md="4" lg="4" xl="2">
		<MudPaper Elevation="1" Class="pa-4" Style="height: 100%;">
			<div style="display: flex; align-items: center; gap:4px">
				<MudAvatar Style="background-color:whitesmoke;">
					<MudIcon Icon="@Icons.Material.Rounded.Storefront" Color="Color.Primary" />
				</MudAvatar>
				<div style="align-items: center; gap:4px" class="ms-lg-4">
					<MudText Typo="Typo.body2" Style="color:lightgray">Vendas Totais</MudText>
					<MudText Typo="Typo.h6" Style="font-weight: bold" Color="Color.Primary">246</MudText>
				</div>
			</div>
		</MudPaper>
	</MudItem>

</MudGrid>

@code {

}
